.rightbaronlineFriend {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  .rightbarOnlineIcon {
    border-radius: 50%;
    background-color: green;
    width: 12px;
    height: 12px;
    position: absolute;
    border: 2px solid white;
    top: -2px;
    right: 5px;
  }
  .rightbarOnlineUserPic {
    height: 37px;
    width: 38px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightbarOnlineUserProfile {
    display: flex;
    align-items: center;
    position: relative;
  }
  .rightbarOnlineUserName{
    font-weight: 700;
    font-size: 14px;
}